* {
    margin: 0;
    padding: 0;
}

header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0.5rem;
}

img {
    width: 5rem;
}
Footer